
/************Common***************/
$breakpoint_530: 530px;
$breakpoint_740: 740px;

/************Home***************/
$breakpoint_960: 960px;
$breakpoint_700: 700px;
$breakpoint_782: 782px;


/************Profile***************/
$breakpoint_920: 920px;

/************Mysite***************/
