// compileNested: ../../../../dest/css/reality/animation/$1.css


@import '../../common/variables';
/***************************************/
/***************function****************/
/***************************************/

@mixin gridTop_child {
  height: 0vh;
  flex-basis: 3px;
  background-color: #E0ADCF;
}

@mixin gridLeft_child {
  width: 0vw;
  flex-basis: 3px;
  background-color: #E0ADCF;
}

@mixin drawerTopAnimation ($delay){
  @include gridTop_child();
  animation: gridOpen_topLine 3.5s $delay forwards, gridOpen_topWide .9s 3.5s forwards;
}

@mixin drawerLeftAnimation ($delay){
  @include gridLeft_child();
  animation: gridOpen_leftLine 3.5s cubic-bezier(.42,.75,.52,.97) $delay forwards, gridOpen_leftWide .9s 3.5s forwards;
}

@mixin drawerCloseAnimation ($delay){
  height: 100vh;
  flex-basis: 7.3%;
  background-color: #E0ADCF;
  animation: drawerMenu_topLine $delay forwards;
}


@mixin InsideMenu {
  /*block、relativeでないと反映しない、*/
  position: relative;
  margin:0 auto;
  padding: 220px 0px 0px 43px;
  display: block;
  max-width: 693px;
  width: 90%;
  height: 100vh;
  @media(max-width: $breakpoint_960) {
    padding: 220px 0px 0px 0px;
    max-width: 365px;
  }
  @media(max-width: $breakpoint_530) {
    padding: 250px 0px 0px 0px;
    max-width: 295px;
  }
}

@mixin InsideMenu_item {
  position: relative;
  padding: 10px 0px;
  list-style-type: none;
  font-size: 6.3rem;
  @media(max-width: $breakpoint_530) {
    font-size: 3.8rem;
  }
}

[data-drawer = ""] {
  .wrapperAppearInside{
    &Menu {
      @include InsideMenu();
      &_item {
        @include InsideMenu_item();
        pointer-events: none;
        opacity: 0;
        :nth-child(1) {
          color: #000000;
          font-family: '游明朝', 'Yu Mincho';
        }
      }
    }
  }
}



[data-drawer = "open"] {
  .HamburgerMenu {
    &::before {
      content: '';
      animation: hamburgerMenuOpen_before 2.3s cubic-bezier(.79,.41,.36,.93) forwards;
    }
    &::after {
      content: '';
      animation: hamburgerMenuOpen_after 2.5s forwards;
    }
  }
  .wrapperAppear {
    &_Top {
      position: absolute;
      display: flex;
      justify-content: space-around;
      width: 100%;
      z-index: 99998;
      :nth-child(1) {@include drawerTopAnimation(0.1s);}
      :nth-child(2) {@include drawerTopAnimation(0.2s);}
      :nth-child(3) {@include drawerTopAnimation(0.3s);}
      :nth-child(4) {@include drawerTopAnimation(0.4s);}
      :nth-child(5) {@include drawerTopAnimation(0.5s);}
      :nth-child(6) {@include drawerTopAnimation(0.6s);}
      :nth-child(7) {@include drawerTopAnimation(0.7s);}
      :nth-child(8) {@include drawerTopAnimation(0.8s);}
      :nth-child(9) {@include drawerTopAnimation(0.9s);}
      :nth-child(10) {@include drawerTopAnimation(1.0s);}
      :nth-child(11) {@include drawerTopAnimation(1.1s);}
      :nth-child(12) {@include drawerTopAnimation(1.2s);}
      :nth-child(13) {@include drawerTopAnimation(1.3s);}
      :nth-child(14) {@include drawerTopAnimation(1.4s);}
    }
    &_left {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100vh;
      z-index: 100000;
      :nth-child(1) {@include drawerLeftAnimation(.9s);}
      :nth-child(2) {@include drawerLeftAnimation(.8s);}
      :nth-child(3) {@include drawerLeftAnimation(1.1s);}
      :nth-child(4) {@include drawerLeftAnimation(1.2s);}
      :nth-child(5) {@include drawerLeftAnimation(1.3s);}
      :nth-child(6) {@include drawerLeftAnimation(1.4s);}
      :nth-child(7) {@include drawerLeftAnimation(1.5s);}
      :nth-child(8) {@include drawerLeftAnimation(1.6s);}
    }
  }
  .wrapperAppearInside{
    &Menu {
      @include InsideMenu();
      z-index: 100002;
      &_item {
        @include InsideMenu_item();
        pointer-events: none;
        font-size: 5.8rem;
        a {
          color: #000000;
          opacity: 0;
          font-family: '游明朝', 'Yu Mincho';
          animation: drawerMenuOpen 2.0s 3.5s forwards;
        }
      }
      :nth-child(4) {
        text-align: right;
        padding-right: 150px;
        @media(max-width: $breakpoint_960) {
          padding-right: 0px;
        }
      }
    }
  }
}

[data-drawer = "close"] {
  .HamburgerMenu {
    &::before {
      content: '';
      animation: hamburgerMenuClose_before  4.0s forwards;
    }
    &::after {
      content: '';
      animation: hamburgerMenuClose_after 3.0s forwards;
    }
  }

  .wrapperAppear {
    &_Top {
      position: absolute;
      display: flex;
      justify-content: space-around;
      width: 100%;
      z-index: 99998;
      :nth-child(1) {@include drawerCloseAnimation(1.0s);}
      :nth-child(2) {@include drawerCloseAnimation(1.0s);}
      :nth-child(3) {@include drawerCloseAnimation(1.0s);}
      :nth-child(4) {@include drawerCloseAnimation(1.0s);}
      :nth-child(5) {@include drawerCloseAnimation(1.0s);}
      :nth-child(6) {@include drawerCloseAnimation(1.0s);}
      :nth-child(7) {@include drawerCloseAnimation(1.0s);}
      :nth-child(8) {@include drawerCloseAnimation(1.0s);}
      :nth-child(9) {@include drawerCloseAnimation(1.0s);}
      :nth-child(10) {@include drawerCloseAnimation(1.0s);}
      :nth-child(11) {@include drawerCloseAnimation(1.0s);}
      :nth-child(12) {@include drawerCloseAnimation(1.0s);}
      :nth-child(13) {@include drawerCloseAnimation(1.0s);}
      :nth-child(14) {@include drawerCloseAnimation(1.0s);}
    }
  }
  .wrapperAppearInside{
    &Menu {
      @include InsideMenu();
      z-index: 100002;
      &_item {
        @include InsideMenu_item();
        pointer-events: none;
        font-size: 5.8rem;
        a {
          color: #000000;
          opacity: 1;
          font-family: '游明朝', 'Yu Mincho';
          animation: drawerMenuClose 1.9s forwards;
        }
      }
      :nth-child(4) {
        text-align: right;
        padding-right: 150px;
        @media(max-width: $breakpoint_960) {
          padding-right: 0px;
        }
        @media(max-width: $breakpoint_530) {
          padding-right: 0px;
          max-width: 295px;
          font-size: 3.8rem;
        }
      }
    }
  }
}




/***************************************/
/*************animation*****************/
/***************************************/
@keyframes hamburgerMenuOpen_before {
  0% {
    width: 67%;
  }
  100% {
    width: calc(100vw - 63px);
  }
}

@keyframes hamburgerMenuOpen_after {
  0% {
    width: 67%;
  }
  20%,30% {
    width: 0px;
    height: 20%;
    transform: skew(-50deg);
  }
  31% {
    width: 14%;
    height: 0px;
    transform: skewY(50deg) ;
  }
  100% {
    width: 14%;
    height: calc(100vh - 59px);
    transform: skewY(50deg);
  }
}


@keyframes hamburgerMenuClose_before {
  0% {
    width: calc(100vw - 63px);
  }
  100% {
    width: 67%;
  }
}

@keyframes hamburgerMenuClose_after {
  0% {
    width: 14%;
    height: calc(100vh - 59px);
    transform: skewY(50deg);
  }
  70%,78% {
    width: 14%;
    height: 0px;
    transform: skewY(50deg) ;
  }
  79% {
    width: 0px;
    height: 20%;
    transform: skew(-50deg);
  }
  100% {
    width: 67%;
  }
}


@keyframes gridOpen_topLine {
  0% {
    height: 0vh;
  }
  70%,
  100% {
    height: 100vh;
  }
}

@keyframes gridOpen_topWide {
  0% {
    flex-basis: 3px;
  }
  100% {
    flex-basis: 7.3%;
  }
}

@keyframes gridOpen_leftLine {
  0% {
    width: 0vw;
  }
  70%,100% {
    width: 100vw;
  }
}

@keyframes gridOpen_leftWide {
  0% {
    flex-basis: 3px;
  }
  100% {
    flex-basis: 12.5%;
  }
}

@keyframes drawerMenuOpen {
  0% {
    opacity: 0;
  }
  100% {
    pointer-events: auto;
    cursor: pointer;
    opacity: 1;
  }
}

@keyframes drawerMenu_topLine {
  0% {
    height: 100vh;
  }
  100% {
    height: 0vh;
  }
}

@keyframes drawerMenuClose {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
