// compileNested: ../../../dest/css/reality/$1.css

@import '../common/variables';

.HamburgerMenu {
  position: absolute;
  display: block;
  left: 20px;
  width: 116px;
  height: 69px;
  @media (max-width: $breakpoint_960) {
    width: 89px;
    height: 57.5px;
    left: 20px;
  }
  @media (max-width: $breakpoint_530) {
    width: 64.2px;
    height: 40px;
    left: 20px;
  }
  &::before, &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 67%;
    height: 20%;
    //border-style: double;
    //border-color: #F29C9F;
    background-color: #b8b8b8;
    transform:skew(-50deg);
  }
  &::before {
    content: '';
    top: 9px;
    left: 34px;
    @media (max-width: $breakpoint_960) {
      top: 10px;
      left: 19px;
    }
    @media (max-width: $breakpoint_530) {
      top: 10px;
      left: 12px;
    }
  }
  &::after {
    content: '';
    top: 38px;
    left: 8px;
    @media (max-width: $breakpoint_960) {
      top: 37px;
      left: -8px;
    }
    @media (max-width: $breakpoint_530) {
      top: 29px;
      left: -8px;
    }
  }
}
