// compileNested: ../../../dest/css/reality/$1.css

.outerLogo {
  position: absolute;
  width: 100vmin;
  height: 40vh;
  top: 27%;
  left: calc(50% - 50.5vmin);
  background-image: url(../../picture/title.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
