/************Common***************/
/************Home***************/
/************Profile***************/
/************Mysite***************/
.HamburgerMenu {
  position: absolute;
  display: block;
  left: 20px;
  width: 116px;
  height: 69px;
  z-index: 99998; }
  @media screen and (max-width: 960px) {
    .HamburgerMenu {
      width: 89px;
      height: 57.5px;
      left: 20px; } }
  @media screen and (max-width: 740px) {
    .HamburgerMenu {
      width: 64.2px;
      height: 40px;
      top: 13px;
      left: 7px; } }
  .HamburgerMenu::before, .HamburgerMenu::after {
    content: '';
    position: absolute;
    left: 0;
    width: 67%;
    height: 20%;
    background-color: #b0b0b0;
    transform: skew(-50deg); }
  .HamburgerMenu::before {
    content: '';
    top: 16px;
    left: 34px; }
    @media screen and (max-width: 960px) {
      .HamburgerMenu::before {
        top: 17px;
        left: 23px; } }
    @media screen and (max-width: 740px) {
      .HamburgerMenu::before {
        top: 4px;
        left: 18px; } }
  .HamburgerMenu::after {
    content: '';
    top: 45px;
    left: 8px; }
    @media screen and (max-width: 960px) {
      .HamburgerMenu::after {
        top: 44px;
        left: 0px; } }
    @media screen and (max-width: 740px) {
      .HamburgerMenu::after {
        top: 23px;
        left: 4px; } }

/************Common***************/
/************Home***************/
/************Profile***************/
/************Mysite***************/
#root {
  width: 100%;
  height: 100%;
  background: linear-gradient(#FF9E9E, #fff 32%, #fff 66%, #FF9E9E); }

#main {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%; }

/**********************************************/
/**********************************************/
.container {
  height: 100%;
  margin: 0px 99px; }

.marks_line {
  background-color: #968ABD; }

.beforeMarks {
  position: absolute;
  height: 123px;
  right: 51px;
  top: 15.5%; }
  .beforeMarks .right_verticality {
    position: relative;
    height: 5px;
    animation: marksLine_verticality cubic-bezier(0.65, 0.05, 0.36, 1) 2.5s 1.5s forwards; }
  .beforeMarks .right_parallel {
    position: absolute;
    top: -30px;
    right: 39px;
    width: 0px;
    animation: marksLine_parallel	ease-in-out .9s 3.7s forwards; }
    @media (max-width: 740px) {
      .beforeMarks .right_parallel {
        right: 20px; } }
    @media (max-width: 530px) {
      .beforeMarks .right_parallel {
        right: 20px; } }

.afterMarks {
  position: absolute;
  height: 123px;
  left: 51px;
  bottom: 15%; }
  .afterMarks .left_verticality {
    position: relative;
    top: 116px;
    height: 5px;
    animation: marksLine_verticality cubic-bezier(0.65, 0.05, 0.36, 1) 2.5s 1.5s forwards; }
  .afterMarks .left_parallel {
    position: absolute;
    left: 39px;
    bottom: -30px;
    width: 0px;
    animation: marksLine_parallel ease-in-out .9s 3.7s forwards; }
    @media (max-width: 740px) {
      .afterMarks .left_parallel {
        left: 20px; } }
    @media (max-width: 530px) {
      .afterMarks .left_parallel {
        left: 20px; } }

.pofile {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
  max-width: 920px;
  height: 100%; }
  @media (max-width: 740px) {
    .pofile {
      max-width: 400px; } }
  .pofileContent {
    opacity: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    animation: dispImage	ease-in-out .9s 3.7s forwards; }
    @media (max-width: 740px) {
      .pofileContent {
        flex-direction: column; } }
    .pofileContent_image {
      width: 51%;
      height: auto; }
      @media (max-width: 740px) {
        .pofileContent_image {
          width: 100%; } }
    .pofileContent_info {
      flex-basis: 44%; }
      @media (max-width: 740px) {
        .pofileContent_info {
          max-width: 410px; } }
      .pofileContent_info_name {
        padding-bottom: 10px;
        font-size: 2.2rem;
        color: #3F4551;
        font-family: "Noto Serif JP",serif; }
        @media (max-width: 920px) {
          .pofileContent_info_name {
            font-size: 2.0rem; } }
        @media (max-width: 740px) {
          .pofileContent_info_name {
            padding-top: 17px;
            padding-bottom: 4px; } }
        @media (max-width: 530px) {
          .pofileContent_info_name {
            padding-top: 18px;
            padding-bottom: 5px;
            font-size: 1.7rem; } }
      .pofileContent_info_text {
        font-size: 1.5rem;
        font-family: "Noto Serif JP",serif; }
        @media (max-width: 920px) {
          .pofileContent_info_text {
            font-size: 1.3rem; } }
        @media (max-width: 530px) {
          .pofileContent_info_text {
            font-size: 1.2rem; } }

/**********************************************/
/******************animation*******************/
/**********************************************/
@keyframes marksLine_verticality {
  0% {
    width: 0; }
  100% {
    width: 67vw; } }

@keyframes marksLine_parallel {
  0% {
    height: 0px;
    width: 5px; }
  100% {
    width: 5px;
    height: 39vh; } }

@keyframes dispImage {
  0% {
    opacity: 0;
    filter: blur(75px) brightness(450%); }
  100% {
    opacity: 1;
    filter: blur(0px) brightness(100%); } }

/************Common***************/
/************Home***************/
/************Profile***************/
/************Mysite***************/
.footer_log {
  position: absolute;
  display: inline-block;
  width: 250px;
  height: 98px;
  bottom: 30px;
  right: 30px;
  background-image: url(../../../../images/title_footer.svg);
  background-repeat: no-repeat;
  background-size: contain; }
  @media screen and (max-width: 740px) {
    .footer_log {
      width: 190px;
      height: 76px;
      bottom: 0px;
      right: 0px; } }
