/************Common***************/
/************Home***************/
/************Mysite***************/
.HamburgerMenu {
  position: absolute;
  display: block;
  left: 20px;
  width: 116px;
  height: 69px;
  z-index: 99998; }
  @media screen and (max-width: 960px) {
    .HamburgerMenu {
      width: 89px;
      height: 57.5px;
      left: 20px; } }
  @media screen and (max-width: 740px) {
    .HamburgerMenu {
      width: 64.2px;
      height: 40px;
      top: 13px;
      left: 7px; } }
  .HamburgerMenu::before, .HamburgerMenu::after {
    content: '';
    position: absolute;
    left: 0;
    width: 67%;
    height: 20%;
    background-color: #b0b0b0;
    transform: skew(-50deg); }
  .HamburgerMenu::before {
    content: '';
    top: 16px;
    left: 34px; }
    @media screen and (max-width: 960px) {
      .HamburgerMenu::before {
        top: 17px;
        left: 23px; } }
    @media screen and (max-width: 740px) {
      .HamburgerMenu::before {
        top: 4px;
        left: 18px; } }
  .HamburgerMenu::after {
    content: '';
    top: 45px;
    left: 8px; }
    @media screen and (max-width: 960px) {
      .HamburgerMenu::after {
        top: 44px;
        left: 0px; } }
    @media screen and (max-width: 740px) {
      .HamburgerMenu::after {
        top: 23px;
        left: 4px; } }
